
// BREAKPOINTS
$sm : 768px;
$md : 992px;
$lg : 1367px;

// COLOURS
$red : #BD1622;
$black : #1D1D1D;
$grey : #595958;
$lightGrey : #E0EAED;
$sand : #F3F2ED;
$cream : #ccd8de;

// FILES
@import '_resets';
@import '_defaults';
//@import '_aos';